
*
{
    margin: 0px auto;
}

.main
{
    
position: absolute;
width: 1139px;
height: 580px;
left: 0;
right: 0;
/* padding-top: 131px; */


background-image: url("assets/Hero-bg.png");
background-size: cover;
}